<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
		<link rel="stylesheet" href="/styles/index.css" />
	</head>
	<body>
		<section>
			<div class="speech-bubble-ai" id="speech-bubble-ai">
				<p id="movie-ai-text">Tell me a one sentence concept and I will give you a whole movie</p>
			</div>
			<div class="setup-input-container">
				<textarea id="setup-textarea" cols="30" rows="10" placeholder="type prompt"></textarea>
				<button id="send-btn">send</button>
			</div>
		</section>
		<!-- output -->
		<div class="output-container" id="output-container">
			<div class="output-img-container" id="output-img-container"></div>
			<h1 id="output-title"></h1>
			<p id="output-text"></p>
		</div>
	</body>

	<script type="module" src="/scripts/index.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</html>
